{% extends 'adminn/base/add_for.html' %}
{% load static %}
{% block content %}


<main class="main-wrapper">
    <div class="main-content">
        <div class="row">
            <div class="col-6 col-xl-9">
                <div class="card">
                    <div class="card-body p-4">
                        <h5 class="mb-4">Vertical Addon</h5>
                        <form class="row g-3">
                            <div class="col-md-12">
                                <label for="input25" class="form-label">Work Name</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i
                                            class="material-icons-outlined fs-5">work</i></span>
                                    <input type="text" class="form-control" id="input25" placeholder="Work Name">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="input30" class="form-label">Select executor</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i
                                            class="material-icons-outlined fs-5">person_outline</i></span>
                                    <select class="form-select" id="input30">
                                        <option selected="">Choose...</option>
                                        <option value="1">Web</option>
                                        <option value="2">1</option>
                                        <option value="3">2</option>
                                        <option value="4">3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation8" class="form-label">Deadline</label>
                                <input type="date" class="form-control" id="bsValidation8" required>
                                <div class="invalid-feedback">
                                    Please select date.
                                </div>
                            </div> 
                            <div class="col-md-12">
                                <label for="bsValidation8" class="form-label">Deadline for report</label>
                                <input type="date" class="form-control" id="bsValidation8" required>
                                <div class="invalid-feedback">
                                    Please select date.
                                </div>
                            </div>  
                            <div class="col-md-12">
                                <label for="input30" class="form-label"></label>
                                <div class="input-group">
                                    <span class="input-group-text"><i
                                            class="material-icons-outlined fs-5">timer</i></span>
                                    <select class="form-select" id="input30">
                                        <option selected="">Priority</option>
                                        <option value="1">tiz</option>
                                        <option value="2">hayal</option>
                                        <option value="3">2</option>
                                        <option value="4">3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation13" class="form-label">Text</label>
                                <textarea class="form-control" id="bsValidation13" placeholder="Text ..." rows="3" required></textarea>
                                <div class="invalid-feedback">
                                    Please enter a Text.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-9 mx-auto">
                                    <hr>
                                    <div class="card">
                                        <div class="card-body">
                                            <input id="fancy-file-upload" type="file" name="files"
                                                accept=".jpg, .png, image/jpeg, image/png" multiple>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="input34">
                                    <label class="form-check-label" for="input34">Check me out</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="button" class="btn btn-grd-primary px-4">Submit</button>
                                    <button type="button" class="btn btn-grd-royal px-4">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>
</main>

{% endblock %}