{% extends 'base/base.html' %}
{% load static %}
{% block content %}



<main class="main-wrapper">
    <div class="main-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Dashboard</div>
           
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-xxl-12 d-flex align-items-stretch">
                <div class="card w-100 overflow-hidden rounded-4">
                    <div class="card-body position-relative p-4">
                        <div class="row">
                            <div class="col-12 col-sm-7">
                                <div class="d-flex align-items-center gap-3 mb-5">
                                    <img src="{% static 'assets/images/avatars/01.png' %}"
                                        class="rounded-circle bg-grd-info p-1" width="60" height="60" alt="user">
                                    <div class="">
                                        <p class="mb-0 fw-semibold">Welcome back</p>
                                        <h4 class="fw-semibold mb-0 fs-4 mb-0">Jhon Anderson!</h4>
                                    </div>
                                </div>

                                <div class="d-flex align-items-start justify-content-between mb-3">
                                    <div class="">
                                        <h5 class="mb-0 fw-bold">About</h5>
                                    </div>

                                </div>
                                <div class="full-info">
                                    <div class="info-list d-flex flex-column gap-3">
                                        <div class="info-list-item d-flex align-items-center gap-3"><span
                                                class="material-icons-outlined">account_circle</span>
                                            <p class="mb-0">Full Name: Jhon Deo</p>
                                        </div>
                                        <div class="info-list-item d-flex align-items-center gap-3"><span
                                                class="material-icons-outlined">email</span>
                                            <p class="mb-0">Email: aaaaaaaaaaaaaa@gmail.com</p>
                                        </div>
                                        <div class="info-list-item d-flex align-items-center gap-3"><span
                                                class="material-icons-outlined">phone</span>
                                            <p class="mb-0">Phone: +993 65 99 99 99 </p>
                                        </div>
                                        <div class="info-list-item d-flex align-items-center gap-3"><span
                                                class="material-icons-outlined">home</span>
                                            <p class="mb-0">Country: USA</p>
                                        </div>
                                        <div class="info-list-item d-flex align-items-center gap-3"><span
                                                class="material-icons-outlined">password</span>
                                            <p class="mb-0">Password: ******</p>
                                        </div>
                                        <div class="info-list-item d-flex align-items-center gap-3"><span
                                                class="material-icons-outlined">work</span>
                                            <p class="mb-0">Job: jhon.xyz</p>
                                        </div>
                                       
                                    </div>

                                </div>

                            </div>
                            <div class="col-2 col-sm-5">
                                <div class="welcome-back-img pt-4">
                                    <img src="{% static 'assets/images/gallery/welcome-back-3.png' %}" height="180"
                                        alt="">
                                </div>
                            </div>
                        </div><!--end row-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card rounded-4 border-top border-4 border-primary border-gradient-1">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-start justify-content-between mb-3">
                            <div class="">
                                <h5 class="mb-0 fw-bold">Edit Profile</h5>
                            </div>
                           
                        </div>
                        <form class="row g-4">
                            <div class="col-md-6">
                                <label for="input1" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="input1" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <label for="input2" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="input2" placeholder="Last Name">
                            </div>
                            <div class="col-md-12">
                                <label for="input3" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="input3" placeholder="Phone">
                            </div>
                            <div class="col-md-12">
                                <label for="input4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="input4">
                            </div>
                            <div class="col-md-12">
                                <label for="input5" class="form-label">Password</label>
                                <input type="password" class="form-control" id="input5">
                            </div>
                           
                            <div class="col-md-12">
                                <label for="input7" class="form-label">Country</label>
                                <select id="input7" class="form-select">
                                    <option selected="">Choose...</option>
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                                </select>
                            </div>

                            
                      
                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="button" class="btn btn-grd-primary px-4">Update
                                        Profile</button>
                                    <button type="button" class="btn btn-light px-4">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div><!--end row--> 
    </div>
</main>


{% endblock %}